.active {
    background-color: #99CCFF;
    padding: 0 10px;
    border-radius: 15px;
    color: rgba(39, 39, 39, 0.911) !important;
}

.header-link {
    color: white;
    font-weight: 500;
    margin-left: 20px;
    text-decoration: none !important;
}

.header-link2 {
    color: rgba(39, 39, 39, 0.911);
    font-weight: 500;
    margin-left: 20px;
    text-decoration: none !important;
}

.header-link:hover,
.header-link2:hover {
    color: #99CCFF;
}

.button-logout {
    border-radius: 10px;
    background: transparent;
    color: white;
    border: 1px solid #99CCFF;
    font-weight: 500;
    transition: all ease 0.5s;
}

.button-logout:hover {
    background: #99CCFF;
    color: rgba(39, 39, 39, 0.911);
}

.button-mode {
    margin-left: 20px;
    border-radius: 10px;
    background: transparent;
    color: #99CCFF;
    border: 1px solid #99CCFF;
    font-weight: 500;
}

.button-mode:hover {
    background: #99CCFF;
    color: rgba(39, 39, 39, 0.911);
}


@media screen and (min-width: 576px) and (max-width: 992px) {
    .active {
        padding: 2px 0;
    }

    .header-link,
    .header-link2,
    .button-logout,
    .button-mode {
        margin-left: 0;
        margin-top: 3px;
    }

}

@media screen and (max-width: 576px) {
    .active {
        padding: 2px 0;
    }

    .header-link,
    .header-link2,
    .button-logout,
    .button-mode {
        margin-left: 0;
        margin-top: 5px;
    }

}