@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form-bg {
  background-color: lightcyan;
}

.form-bg:hover {
  background-color: lightblue;
}

.form-title {
  color: #2554C2;
}

.section-title {
  color: #EE5A24;
}

.animation-text {
  font-size: 4rem;
}

.span {
  font-size: 40px;
}

.button {
  color: #2554C2;
  background: #80A4F1;
  text-align: center;
  padding: 5px 0;
  margin-top: 20px;
  width: 100%;
  border: 1px solid #2554C2;
  border-radius: 10px;
  font-weight: 500;
}

.button:hover {
  cursor: pointer;
  color: #80A4F1;
  background: #2554C2;
}

.task-card {
  max-width: 320px !important;
  background: #3C6EE0;
  border-radius: 10px;
  overflow: hidden;
}

.task-image {
  width: 100%;
  height: 200px !important
}

.task-body {
  padding: 20px;
}

.task-title {
  font-size: 25px;
  font-weight: 600;
}

.task-details {
  height: 75px;
  margin: 10px 0;
}

.task-button {
  background: #2554C2;
  color: #80A4F1;
  padding: 6px;
  border-radius: 8px;
  font-size: 35px;
}

.task-button:hover {
  cursor: pointer;
  color: #2554C2;
  background: #80A4F1;
}

.text-input {
  border-radius: 10px;
  padding: 5px 10px;
  border: 2px solid #3C6EE0;
}

.text-input:hover {
  border: 2px solid #2554C2;
}


@media screen and (min-width: 576px) and (max-width: 992px) {
  .animation-text {
    font-size: 3rem;
  }

  .span {
    font-size: 30px;
  }
}

@media screen and (max-width: 576px) {
  .animation-text {
    font-size: 2rem;
  }

  .span {
    font-size: 20px;
  }
}