@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
  margin: 0 auto !important;
  max-width: 1400px;
  font-family: 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form-bg {
  background-color: #8b9be9;
  border: 0 !important;
  transition: all ease 0.8s;
}

.form-bg:hover {
  background-color: #aeb6e0;
}

.form-title {
  color: #574b90;
}

.section-title {
  color: #EE5A24;
}

.animation-text {
  font-size: 4rem;
}

.span {
  font-size: 40px;
}

.button {
  color: rgba(32, 32, 32, 0.877);
  background: linear-gradient(to right, #4568dc, #b06ab3);
  text-align: center;
  padding: 4px 0;
  margin-top: 15px;
  width: 100%;
  border: 1px solid #753a88;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  transition: all ease 0.8s;
}

.button:hover {
  cursor: pointer;
}

.task-card {
  max-width: 320px !important;
  background: #3C6EE0;
  border-radius: 10px;
  overflow: hidden;
}

.task-image {
  width: 100%;
  height: 200px !important
}

.task-body {
  padding: 20px;
}

.task-title {
  font-size: 25px;
  font-weight: 600;
}

.task-details {
  height: 75px;
  margin: 10px 0;
}

.task-button {
  background: #2554C2;
  color: #80A4F1;
  padding: 6px;
  border-radius: 8px;
  font-size: 35px;
  transition: all ease 1s;
}

.task-button:hover {
  cursor: pointer;
  color: #2554C2;
  background: #80A4F1;
}

.text-input {
  border-radius: 10px;
  padding: 5px 10px;
  border: 2px solid #40407a;
}

.text-input:hover {
  border: 2px solid #7777a5;
}

.file-label {
  height: 40px;
  width: 100%;
  background: linear-gradient(to right, #de6262, #ffb88c);
  border-radius: 10px;
  border: 1px solid #de6262;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media screen and (min-width: 576px) and (max-width: 992px) {
  .animation-text {
    font-size: 3rem;
  }

  .span {
    font-size: 30px;
  }

  .task-title {
    font-weight: 500;
  }

}

@media screen and (max-width: 576px) {
  .animation-text {
    font-size: 2rem;
  }

  .span {
    font-size: 20px;
  }

  .task-body {
    padding: 15px;
  }

  .task-title {
    font-size: 20px;
    font-weight: 500;
  }

  .task-details {
    height: fit-content;
  }

  .task-button {
    background: #2554C2;
    color: #80A4F1;
    padding: 6px;
    border-radius: 8px;
    font-size: 30px;
  }
}